.backuptor-menu
	background-color #fafafa
	&__item
		display flex
		justify-content space-between
		align-items center
		width inherit
		padding .3em 1em
		font-size 1.2em
		font-weight 600
		background-color #34495e
		margin .5em 0
		color #fff
		border-radius 5px
		border 2px solid #95a5a6
		box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
		transition all 0.3s cubic-bezier(.25,.8,.25,1)
		&:hover
			color #fff
			box-shadow 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)