@import url('https://fonts.googleapis.com/css?family=Montserrat')

*
	font-family 'Montserrat', sans-serif !important
	margin 0
	padding 0

h1, h2, h3, h4, h5, h6, p, span
	margin 0
	padding 0

#root
	background-color #fafafa
	position relative
	top 0
	left 0
	right 0
	bottom 0
	height 100vh
	max-height 100vh
	.backuptor-root
		padding 6em 3em