.backuptor-master-profile
	&__info
		margin-bottom 1em
	&__companies
		margin-bottom 1em
	&__table
		margin-top .5em
	.ant-table-row
		td
			text-overflow ellipsis
			overflow hidden
			max-width 260px
			white-space nowrap