.status-console
	&__drawer
		.ant-drawer-content-wrapper
			width 100%
			min-height 400px
			overflow-y auto
			background-color #0D1F2D
.success
	color #00ff00
	font-weight 200
	letter-spacing .7px
	font-family Menlo, monospace
	font-size 11pt